*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the body takes the full height of the viewport */
    margin: 0; /* Removes default margin */
    color: rgb(18, 39, 18);
}

#main{
    
    background-color: rgb(46, 83, 46);
    height: 92vh;
    width: 70vw;
    border-radius: 20px;
    flex-wrap: wrap;

}

.nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    background-color: rgb(12, 38, 12);
    height: 100px;
    border-radius: 20px;
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}
.elem{
    display: flex;
    justify-content: center;
    background-color: white;
    color: rgb(13, 38, 13);
    border-radius: 20px;
    width: 80px;
}

#bub{
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    flex-wrap: wrap;
}
.bubbles{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 60px;
    height: 60px;
    font-size: 40px;
    flex-wrap: wrap;
    
}

.bubbles:hover{
    cursor: pointer;
    background-color: green;
}